body{
	overflow: hidden;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
	
}

a{
	color: white;
	padding-right: 50px;
	padding-left: 90px;
	font-size: 25px;
	border-width: 2px;
}
a:hover{
	color: tomato;
}
login{
	background-color: blue;
	font-size: 25px;
}
button{
	background-color: black;
	font-size: 20px;
	color:white;
	float:right;
	width: 15%;
}
button:hover{
	color: red;
}
li{
	display: inline;
}
ul{
	background-color:black;
	padding-left:25%;
	padding-top: 1%;
	padding-bottom: 1%;
}