<!DOCTYPE html>
<html>
<head>
	<title>About Directorate of Industries</title>
</head>
<link href="about-us.css" type="text/css" rel="stylesheet"> 
<body>
<div id="heading">
		<h1> About Us </h1>
</div>
<h2> Overview: </h2>

<p>Directorate of Industries, Govt. of Maharashtra (GoM) is an executive arm of the Industries Department of Government of Maharashtra and is engaged in implementation of government policies for all round development of industries in the state by seeking coordination amongst the state level promotional corporations like MIDC, MSSIDC, KVIB etc. and other department of the government relating to industries.
</p>
<p>The Directorate of Industries has been established to monitor, implement and develop various schemes including Incentive Schemes for promotion of industries in Maharashtra. It also assists the State Government in the formulation of various industry related policies and promotional schemes viz. Industrial policy, SEZ policy, IT Policy, Package Scheme of Incentives etc.
</p>
<p>
	The Directorate of Industries implements various schemes and incentives for promotion of industries in Maharashtra. Most notable among all the schemes is the Package Scheme of Incentives 2013, the latest one announced along with the latest Industrial Policy 2013 of the State.
</p>
<p>
	The Directorate is supported by six Regional Offices, a sub regional office at Nanded and DIC (District Industries Center) at every district. The powers to implement the schemes are decentralised to maximum extent and are vested with the DIC for effective delivery mechanism at district level.
</p>
<h2>Objectives: </h2>
<p>The Directorate of Industries implement, develop and monitor various schemes and impart incentives for promotion of industries in Maharashtra. It also assists the State Government in the formulation of various industry related policies and promotional schemes viz. Industrial policy, SEZ policy, IT Policy, Package Scheme of Incentives etc.</p>
</body>
</html>