<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>online application process</title>

<style type="text/css">
body{
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
margin: 0px auto;
margin-left: 20px;
margin-right: 25px;
}
h1{
color: white;
font-family: georgia;
font-size: 48px;
font-weight: bold;
border: 10px solid black(22, 77, 100);
border-radius: 15px;
background-image: url("heading.png");
position: relative;
padding: 10px;
}
</style>
</head>
<body>
<h1> Investor's Guide </h1>
<span style="text-decoration: underline;"><big><span style="font-weight: bold;">
<big><big>Investor's Guide</big></big></span></big></span><big><big><big><span style="font-weight: bold;"></span></big></big><br>
</big>
<hr style="width: 100%; height: 2px;"><big><big><span style="font-weight: bold;">Online Application Process </span><br>
<br>
Following are the step for processing of application:<br>
1. During scrutiny of application, if the department raises any
query/queries regarding the application the user <br>
&nbsp;&nbsp;&nbsp; will receive an intimation via email and
SMS. The Departement will continue send reminders for these<br>
&nbsp;&nbsp;&nbsp; queries at specifice intervals till the
completion of waiting period.<br>
2. Users can reply to query/queries raised by department, by logging to
the website and posting their replies in<br>
&nbsp;&nbsp;&nbsp; the "Queries Assigned to Me" section in
the "My Application" page which is accessible on successfully<br>
&nbsp; &nbsp; logging&nbsp; in to the website.<br>
3. On successful submission of a reply to query/queries raised by
department, the applicant will receive an<br>
&nbsp;&nbsp;&nbsp;&nbsp; email and SMS&nbsp;
intimation.<br>
4. The user also receives email and SMS intimation on approval of
application.<br>
5. For applications, users can also download/view their
certificate/approval letter for applied<br>
&nbsp;&nbsp;&nbsp; service in the "Approved" section of the
My Application page <br>
<br>
</big></big><br>
<hr style="width: 100%; height: 2px;"><br>
</body></html>