<html><head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Contact Information - Directorate of Industries, Government of Maharashtra</title>
<!-- InstanceEndEditable -->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="css/bootstrap-custom.min.css" rel="stylesheet">                
	<link href="css/launched.css" rel="stylesheet">
    <link href="css/launched-responsive.css" rel="stylesheet">
     <link href="css/accordian.css" rel="stylesheet">
	  
	  
    <!--[if lte IE 8]>
     <link rel="stylesheet" type="text/css" href="css/style-ie.css" />
  <![endif]-->
	<link rel="stylesheet" type="text/css" href="slideshow/jquery.ad-gallery.css">
    <link rel="stylesheet" type="text/css" href="css/jcarousel.responsive.css">
   
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="slideshow/jquery.ad-gallery.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/accordian.js"></script>
	
	<script type="text/javascript">
	  $(function() {
		var galleries = $('.ad-gallery').adGallery();
	   
	  });
  </script>
  
 
    
    <!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>



    <!-- InstanceBeginEditable name="EditRegion3" --> <a id="skipBt"></a>
<div class="pagination"> <img src="images/inside_img.jpg" class="bgImgInside maxHeight" alt="Contact">
  <div class="inner"> 
    <!-- <a href="#" class="bannerText">Home</a> ---> 
    <span>Contact Us</span> </div>
</div>
<div class="midContainer">
  <div class="inner" style="min-height: 500px;"> 
  <div class="breadcrumbs">
    <p><a href="#">Home</a> &gt; Contact Us</p> 
    </div>
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3772.45019169916!2d72.858276!3d18.999874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf0462b96657%3A0x983bb4868feced46!2sMSSIDC!5e0!3m2!1sen!2sin!4v1419413179106" width="940" height="200" frameborder="0" style="border:0"></iframe>-->
    <a name="#top"></a>
    <h3>Directorate  of Industries</h3>
    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactDetails">
      <tbody><tr>
        <td width="100%"><span>Dr.Harshadeep Kamble ,I.A.S.</span><br>
          Secretary (Small &amp; Medium Industries) &amp; <br>
		Development Commissioner (Industries)<br>
		Government of Maharashtra<br></td>
      </tr>
      <tr>
        <td width="100%"><strong>Address </strong>: Directorate of Industries, New Administrative Building,<br>
          2nd Floor, Madame Cama Road, <br>Opp. Mantralaya, Mumbai – 400032<br>
          <strong>Email</strong>: <a href="mailto:didci[at]maharashtra[dot]gov[dot]in">didci[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;22028100<br>
          <strong>Fax</strong>: (022)&nbsp;22026826<br>
          <br>
          <br>
          </td>
      </tr>
    </tbody></table>
    <h3>ERIMS</h3>
    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactDetails">
      <tbody><tr>
        <td width="100%"><span>Entrepreneurs Registration and Incentives Management System (ERIMS)</span> </td>
      </tr>
      <tr>
        <td width="100%">For any technical assistance on ERIMS system, please contact us on <strong>022-22044107</strong> 
        or email to <strong><a href="mailto:egov.di@maharashtra.gov.in">egov.di@maharashtra.gov.in </a></strong><a href="mailto:egov.di@maharashtra.gov.in"><br>          
          <br>
      </a></td>
      </tr>
      </tbody></table>
    <h3>Investment  Facilitation Cell</h3>
    <table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactDetails">

      <tbody><tr>
        <td width="100%"><span> Maharashtra Industry, Trade &amp; Investment Facilitation Cell (MAITRI) </span> </td>
      </tr>
      <tr>
        <td width="100%">C/o. Maharashtra State Small Scale Industries Development Corporation (MSSIDC),<br>
          <strong>Address</strong>: ‘Krupanidhi’ Building, 9, Walchand Hirachand Marg, Ballard Estate, Mumbai – 400038 <br>
          <strong>Email</strong>: &nbsp;<a href="mailto:ifcincharge@mahaebiz.com">ifcincharge@mahaebiz.com</a><br>
          <strong>Phone</strong>: (022)&nbsp;22622362 / (022)&nbsp;22622322
          <br>
      </td>
      </tr>
    </tbody></table>
    <br>
    <br>
    <h3>Timings:</h3>
    <p style="color: #EA6536; font-weight: 600;">Head Office, Regional Offices &amp; District Industry Center</p>
      <p style="margin-bottom: 0px;"><strong>Timings</strong>: 09:45 AM to 05:30 PM IST</p>
      <p><strong>Weekly Off</strong>: Second &amp; Fourth Saturday of the Month, All Sundays</p> 
      <br>
    <br>
        
    <div class="headOffice" id="tag1">
      <ul>
        <li><a href="#tag1">Head Office</a></li>
        <li><a href="#tag2">Regional Offices</a></li>
        <li><a href="#tag3">District Industries Centers (DIC)</a></li>
		<!--<li><a href="#tag4">List of Public Holidays - 2015</a></li>-->
      </ul>
    </div>
    <div class="headOfficeM">
      <ul>
        <li><a href="#" target="_blank">Head Office</a></li>
        <li><a href="#" target="_blank">Regional Offices</a></li>
        <li><a href="#" target="_blank">District Industries Centers (DIC)</a></li>
		<!--<li><a href="pdf/listofholidays-2015.pdf" target="_blank">List of Public Holidays-2015</a></li>-->
      </ul>
    </div>
    <h3 id="tag1">Head Office</h3>
    <table border="0" cellspacing="0" cellpadding="8" width="100%" class="contactTable">
      <tbody><tr>
        <td width="100%" colspan="4"><strong>Address</strong>:
          Directorate of Industries, 2nd Floor, New Administrative Building, Opposite Mantralaya, Mumbai – 400032<br>
          <strong>Timings</strong>: 09:45 AM to 05:30 PM IST<br>
          <strong>Weekly Off</strong>: Second &amp; Fourth Saturday of the Month, All Sundays
          </td>
      </tr>
      
      <tr class="header">
        <td width="20%">Name</td>
        <td width="40%">Designation</td>
        <td width="40%">Contact Information</td>
      </tr>
      <tr>
        <td>Dr.Harshadeep Kamble,IAS<br>
         </td>
        <td>Development Commissioner (Industries)</td>
        <td><strong>Email</strong>: <a href="mailto:didci[at]maharashtra[dot]gov[dot]in">didci[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;22028100</td>
      </tr>
  
       <tr>
        <td>Mr. Vikas Jain</td>
        <td>Additional Director of Industries</td>
        <td><strong>Email</strong>: <a href="mailto:jtdir[dot]industry[at]maharashtra[dot]gov[dot]in">jtdir[dot]industry[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;22026755</td>
      </tr>
      <tr>
        <td>Mr. S. V. Patil</td>
        <td>Joint Director of Industries</td>
        <td><strong>Email</strong>: <a href="mailto:diosd[at]maharashtra[dot]gov[dot]in">diosd[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;22028308</td>
      </tr>
	   <tr>
        <td>Mr. S. S. Survase</td>
        <td>Joint Director of Industries</td>
        <td><strong>Email</strong>: <a href="mailto:diosd[at]maharashtra[dot]gov[dot]in">diosd[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;22028308</td>
      </tr>
      <tr>
        <td>Mr. S. J. Korbu</td>
        <td>Joint Director of Industries</td>
        <td><strong>Email</strong>: <a href="mailto:disio[at]maharashtra[dot]gov[dot]in">disio[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;22028100</td>
      </tr>
     
    
      <tr>
   
       <tr>
        <td>Mrs. K. V. Kharat</td>
        <td>Deputy Director of Industries</td>
        <td><strong>Email</strong>: <a href="mailto:didic[at]maharashtra[dot]gov[dot]in">didic[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;22831902</td>
 
  
       <tr>
        <td>Mrs. S. P. Magar</td>
        <td>Deputy Director of Industries <br>Mumbai Metropolitan Region</td>
        <td><strong>Email</strong>: <a href="mailto:didicmumbai[at]maharashtra[dot]gov[dot]in">didicmumbai[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (022)&nbsp;24056199</td>
      </tr>
    </tbody></table>
     <br>
    <h3 id="tag2">Regional  Offices</h3>
    <table border="0" cellspacing="0" cellpadding="5" width="100%" class="contactTable">
    	<tbody><tr>
        <td width="100%" colspan="3">
          <strong>Timings</strong>: 10:00 AM to 05:45 PM IST<br>
          <strong>Weekly Off</strong>: Second &amp; Fourth Saturday of the Month, All Sundays
          </td>
      </tr>
      <tr class="header">
        <td width="20%">Region</td>
        <td width="40%">Name &amp; Designation</td>
        <td width="40%">Contact Information</td>
      </tr>
      <tr>
        <td>Amravati</td>
        <td>Mr. A. P. Dharmadhikari<br>
          Joint Director of Industries <br>(Additional Charge) </td>
          
        <td><strong>Address</strong>: Office of the Joint Director of Industries,
          (Amravati Region),<br>
          36, Snehal Building, Ganediwal Layout,<br> Behind Commissioner Office<br>
          Amravati-444602.<br>
          <strong>Email</strong>: <a href="mailto:diroamravati[at]maharashtra[dot]gov[dot]in">diroamravati[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (0721)&nbsp;2662769 <br>
          <strong>Fax</strong>: (0721)&nbsp;2662769</td>
      </tr>
      <tr>
        <td>Aurangabad</td>
        <td>Mr. P. P. Deshmukh <br>
          Joint Director of Industries</td>
        <td><strong>Address</strong>: Office of the Joint Director of Industries, (Aurangabad Region),<br>
          Vikas Bhavan, 7th Floor, Adalat Road, Aurangabad-431001.<br>
          <strong>Email</strong>: <a href="mailto:diroaurangabad[at]maharashtra[dot]gov[dot]in">diroaurangabad[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (0240)&nbsp;2331105 / (0240)&nbsp;2331627<br>
          <strong>Fax</strong>: (0240)&nbsp;2331105</td>
      </tr>
      <tr>
        <td>Nagpur</td>
        <td>Mr. A. P. Dharmadhikari <br>
          Joint Director of Industries</td>
        <td><strong>Address</strong>: Office of the Joint Director of Industries, (Nagpur Region), <br>
          Udyog Bhavan, 2nd Floor,Civil Lines, Nagpur-444001.<br>
          <strong>Email</strong>: <a href="mailto:dironagpur[at]maharashtra[dot]gov[dot]in">dironagpur[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (0712)&nbsp;2560335 <br>
          <strong>Fax</strong>: (0712)&nbsp;2564212</td>
      </tr>
      <tr>
        <td>Nanded</td>
        <td>Mr. B. T. Yashwante <br>
         I/C Superintending Industries Officer</td>
        <td><strong>Address</strong>: Office of the Sub Divisional Office, (Nanded Region)<br>
          Udyog Bhavan, Govt. Industrial Estate, Shivaji Nagar, Nanded-431602<br>
          <strong>Email</strong>: <a href="mailto:dironanded[at]maharashtra[dot]gov[dot]in">dironanded[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (02462)&nbsp;243393 <br>
          <strong>Fax</strong>: (02462)&nbsp;255696</td>
      </tr>

    </tbody></table>
    <br>
    <h3 id="tag3">District Industries Centers (DIC)</h3>
    <table border="0" cellspacing="0" cellpadding="5" width="100%" class="contactTable">
    	<tbody><tr>
        <td width="100%" colspan="3">
          <strong>Timings</strong>: 09:45 AM to 05:30 PM IST<br>
          <strong>Weekly Off</strong>: Second &amp; Fourth Saturday of the Month, All Sundays
          </td>
      </tr>
      <tr class="header">
        <td width="20%">District</td>
        <td width="40%">Name &amp; Designation</td>
        <td width="40%">Contact Information</td>
      </tr>
      <tr>
        <td>Ahmednagar</td>
        <td>Mr. S. A. Bhamre <br>
          General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Ahmednagar. <br>
        Near Ahmednagar College, Opposite M.S.E.B. Office, Dist.Ahmednagar-414005.<br>
          <strong>Email</strong>: <a href="mailto:didicahmednagar[at]maharashtra[dot]gov[dot]in">didicahmednagar[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (0241)&nbsp;2355342 <br>
          <strong>Fax</strong>: (0241)&nbsp;2353410 </td>
      </tr>
      <tr>
        <td>Akola</td>
        <td>Mr. A. T. Patil <br>
        General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Akola. <br>
        Old Kapus (Suti) Bazar, Dist.Akola-444001<br>
          <strong>Email</strong>: <a href="mailto:didicakola[at]maharashtra[dot]gov[dot]in">didicakola[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (0724)&nbsp;2430880 / (0724)&nbsp;2440250 <br>
          <strong>Fax</strong>: (0724)&nbsp;2430479</td>
      </tr>
      <tr>
        <td>Amravati</td>
        <td>Mr. U.S. Puri <br>
        General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Amravati. <br>
        Behind Collector Office, Amravati Camp, Dist. Amravati- 444602.<br>
          <strong>Email</strong>: <a href="mailto:didicamravati[at]maharashtra[dot]gov[dot]in">didicamravati[at]maharashtra[dot]gov[dot]in </a><br>
          <strong>Phone</strong>: (0721)&nbsp;2662644 <br>
          <strong>Fax</strong>: (0721)&nbsp;2663445</td>
      </tr>
      <tr>
        <td>Aurangabad</td>
        <td>Mr. D. S. Guralwar <br>
         General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Aurangabad.<br>
          Opp. MTDC, Station Road, Dist.Aurangabad-431001.<br>
          <strong>Email</strong>: <a href="mailto:didicaurangabad[at]maharashtra[dot]gov[dot]in">didicaurangabad[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (0240)&nbsp;2330691 / (0240)&nbsp;2331136 </td>
      </tr>
      <tr>
        <td>Beed</td>
        <td>Mr. D. E. Phanase, <br>
        General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Beed.<br>
          Basirganj, Dist.Beed-431 122.<br>
          <strong>Email</strong>: <a href="mailto:didicbeed[at]maharashtra[dot]gov[dot]in">didicbeed[at]maharashtra[dot]gov[dot]in</a> <br>
          <strong>Phone</strong>: (02442)&nbsp;222285 / (02442)&nbsp;222875</td>
      </tr>
      <tr>
        <td>Bhandara</td>
        <td>Mr. M. R. Khadse <br>
        General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Bhandara.<br>
          National Highway Rd., Administrative Building,<br>
          Near RTO, Dist.Bhandara-441904.<br>
          <strong>Email</strong>: <a href="mailto:didicbhandara[at]maharashtra[dot]gov[dot]in">didicbhandara[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (07184)&nbsp;252347 / (07184)&nbsp;252521</td>
      </tr>
      <tr>
        <td>Buldhana</td>
        <td>Smt. M. G. Patil<br>
         General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Buldhana.
          Jatkar Bhavan, Tilakwadi, Bus Stand Road, Dist.Buldhana-443001.<br>
          <strong>Email</strong>: <a href="mailto: didicbuldhana[at]maharashtra[dot]gov[dot]in"> didicbuldhana[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (07262)&nbsp;242367</td>
      </tr>
      <tr>
        <td>Chandrapur</td>
        <td>Mr. C. B. Patil  <br>
        General Manager</td>
        <td><strong>Address</strong>: District Industries Centre,Chandrapur.<br>
          Near S.T. Stand, Dist.Chandrapur-442401.<br>
          <strong>Email</strong>: <a href="mailto:didicchandrapur[at]maharashtra[dot]gov[dot]in">didicchandrapur[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (07172)&nbsp;252208 / (07172)&nbsp;252142</td>
      </tr>
      <tr>
        <td>Dhule</td>
        <td>Mr. S. R. Rathod <br>
        General Manager</td>
        <td><strong>Address</strong>: District Industries Centre, Dhule.<br>
          Jamnagari Road, Opposite Tushar Hospital, Dist.Dhule-424001.<br>
          <strong>Email</strong>: <a href="mailto:didicdhule[at]maharashtra[dot]gov[dot]in">didicdhule[at]maharashtra[dot]gov[dot]in</a><br>
          <strong>Phone</strong>: (02562)&nbsp;245008 / (02562)&nbsp;245009 <br>
          <strong>Fax</strong>:  245009</td>
      </tr>
    
  
    </tbody></table>
     
    
   
    </div>
</div>
<script>
	$(document).ready(function(){
	   $('.navbar .nav > li').removeClass("active");
	   $('.navbar .nav > li.con').addClass("active");
	});
</script> 
<!-- InstanceEndEditable -->

    
    
   







</body></html>