<!DOCTYPE html>
<html>
<head>
	<title>Feedback</title>
</head>
<link href="feedback.css" type="text/css" rel="stylesheet">
<body>
	<h1> Feedback Form </h1>
	<form>
		<table>
			<div>
			<tr>
				<td> Name: </td>
				<td> <input type="text" name="name" id="name"> </td>
			</tr>
		</div>
		<div>
			<tr>
				<td> Email: </td>
				<td> <input  type=" " name=" " id=" "> </td>
			</tr>
		</div>
		<div>
			<tr>
				<td> Mobile Number:    </td>
				<td> <input type="number" name=" " id=" "> </td>
			</tr>
		</div>
		<div>
			<tr>
				<td> Feedback: </td>
				<td> <textarea id="Feedback" name="Feedback" rows="5" cols="20"></textarea> </td>
			</tr>
		</div>	
		</table>
	</form>
	<br/><br/>
	<button >Submit</button>
	<button >Cancel</button>
</body>
</html>