<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>online application process</title>

<style type="text/css">
body{
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
margin: 0px auto;
margin-left: 20px;
margin-right: 25px;
}
h1{
color: white;
font-family: georgia;
font-size: 48px;
font-weight: bold;
border: 10px solid black(22, 77, 100);
border-radius: 15px;
background-image: url("heading.png");
position: relative;
padding: 10px;
}
</style></head>
<body>
<h1> Investor's Guide </h1>
<span style="text-decoration: underline;"><big><span style="font-weight: bold;">
<big><big>Investor's Guide</big></big></span></big></span><big><big><big><span style="font-weight: bold;"></span></big></big><br>
</big>
<hr style="width: 100%; height: 2px;"><big><big><big><span style="font-weight: bold;">How to Apply Online</span></big><br>
<br>
<span style="font-weight: bold;">User Registration</span><br>
<br>
1. User can register on the website for availing services.<br>
2. A soft copy of the documents listed below must be uploaded during
registration process(Please note <br>
&nbsp; &nbsp; that system will not allow uploading of document
in PDF format with a maximum size of 5 MB.)<br>
</big></big>
<ul>
<li><big><big>A soft copy of your PAN card.</big></big></li>
<li><big><big>all the license/certificate related
to unit.</big></big></li>
</ul>
<big><big>3. On successful registration the user will
recive an activation pin code by email and SMS at their registered <br>
&nbsp; &nbsp; &nbsp;email address and mobile number. This
code is used to validate user registration to complete the <br>
&nbsp; &nbsp; &nbsp; registration process.<br>
<br>
<big><span style="font-weight: bold;">Updating
Profile, Unit and User Details</span></big><br>
<br>
1. On successful activation of registration, Update User Profile, Unit
and Unit User Details. These details are<br>
&nbsp; &nbsp; &nbsp;necessary for processing of online
applications for the services mentioned above.<br>
<br>
<big><span style="font-weight: bold;">Submission of
Application </span></big><br>
1. &nbsp;User can apply for the services mentioned above.<br>
2. &nbsp; For every application submitted the applicant receives an
email and SMS intimation.<br>
</big></big><br>
<br>
<hr style="width: 100%; height: 2px;"><br>
</body></html>