<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<link href="./navigation.css" type="text/css" rel="stylesheet">
<body>
	<button>
		<a href="login-frame.html" target="new">
		<img id="login" src="login.png" width="20" height="20" href="layout.html">
		Login
		</a>
	</button>
	<br/>
	<ul>
  <li><a href="home-frame.html"target="new">
  <img src="home.png" height="20" width="30" style="padding-right: 20px ; ">Home</a></li>
  <li><a href="app-process-frame.html"target="new">
  <img src="process.jpg" height="20" width="30" style="padding-right: 20px ; ">Process</a></li>
  <!--<li><a href="Contact.html"target="new">
  <img src="contact.png" height="20" width="30" style="padding-right: 20px ; ">Contact</a></li>-->
  <li><a href="about-us-frame.html"target="new">
  <img src="about_us.png" height="20" width="30" style="padding-right: 20px ; ">About Us</a></li>
</ul>
</body>
</html>