<!DOCTYPE html>
<html>
<head>
	<title>About Directorate of Industries</title>
</head>
<link href="about-us.css" type="text/css" rel="stylesheet"> 
<body>
<div id="heading">
		<h1>Privacy Policy</h1>
</div>

<p>This website is designed, developed and maintained by Directorate of Industries (hereafter DoI), Government of Maharashtra (hereafter GoM). The content for the website is provided by DoI, GoM and by accessing this website, you unconditionally accept to be legally bound by the terms and conditions. If you do not agree to the mentioned terms and conditions, please do not access the website.</p>
<p>Efforts have been made to ensure the accuracy and currency of the content on this website; however, the same should not be interpreted as a statement of law or used for any legal purposes. In case of any ambiguity or doubts, users are advised to verify / check with the Department and / or other source(s), and obtain appropriate professional advice.</p>
<p>Under no circumstances DoI, GoM will be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage or any expense, loss or damage whatsoever arising from use, or loss of data, arising out of or in connection with the use of this website.</p>
<p>These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.</p>
</p>
</body>
</html>